*{
box-sizing:border-box;
padding:0;
margin:0;
} 
body{
background-color:black;
}
.content{
display:flex;
justify-content:space-between;
align-items:center;
}
button{
border:none;
background-color:#b30000;
font-size:1.5rem;
}
p{
font-size:1rem;
font-weight: bold;
}
.quotes{
border-radius:20%;
border-bottom-right-radius:100%;
border-top-left-radius:10%;
height:350px;
background-color:#b30000;
width:95%;
}
.content{
display:flex;
justify-content:space-between;
align-items:center;
}
.article{
 background-color:#b30000;
 height:260px;
margin-top:20%;
}
