<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content=" width=device-width, user-scalable=no">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About</title>
        <link rel="stylesheet" href="css/style.css" class="css/stylesheet">
        <script src="https://kit.fontawesome.com/0a96adf822.js" crossorigin="anonymous"></script>
        <!-- website icon -->
        <link rel="icon" href="#" type="image/png" sizes="10x10">
        <title>{% block title %}{% endblock %}</title>
        {% block css_files %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>