<div class="sidebar" id="sidebar">

<h2>CodexMingle</h2>

<a href="{% url 'courses:student_portal' %}" class="{% if request.resolver_match.url_name == 'student_portal' %}active{% endif %}">Dashboard</a>
<a href="{% url 'course_list' %}" class="{% if request.resolver_match.url_name == 'course_list' %}active{% endif %}">Courses</a>
<a href="{% url 'courses:live_courses' %}" class="{% if request.resolver_match.url_name == 'live_courses' %}active{% endif %}">Live Cohorts</a>
<a href="{% url 'courses:enrolled_courses' %}" class="{% if request.resolver_match.url_name == 'enrolled_courses'%}active{% endif %}">Enrolled</a>
<a href="/coming_soon">Editor</a>
<a href="/coming_soon">Ebooks</a>
<a href="/coming_soon" class="{% if request.resolver_match.url_name == 'community' %}active{% endif %}">Community</a>
<a href="{% url 'my_certificates' %}" class="{% if request.resolver_match.url_name == 'my_certificates' %}active{% endif %}">Certificates</a>
<a href="{% url 'courses:project_showcase' %}" class="{% if request.resolver_match.url_name == 'project_showcase' %}active{% endif %}">Projects</a>
<a href="/feedback" target="_blank">Feedback</a>
</div>